In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\lenovo\Downloads\1. Weather Data.csv')

In [3]:
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [5]:
data.shape #total number of rows and columns

(8784, 8)

In [6]:
data.index # determines the range of data frame

RangeIndex(start=0, stop=8784, step=1)

In [7]:
data.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

In [8]:
data.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

In [9]:
data.nunique() #total number of unique values

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [11]:
data.count () # total no.of null in each columns

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 480.4+ KB

In [16]:
#find the unique 'Wind Speed' value in data 
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [17]:
data.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [18]:
data['Wind Speed_km/h'].nunique()

34

In [19]:
data['Wind Speed_km/h'].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2],
      dtype=int64)

In [34]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Clear
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Clear

In [35]:
data[data.Weather == 'Clear'] #find the number of times when weather was clear

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Clear
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Clear
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,Clear
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,Clear
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Clear
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Clear
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Clear
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Clear
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Clear
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Clear

In [37]:
data.groupby('Weather').get_group ('Clear')

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Clear
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Clear
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,Clear
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,Clear
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Clear
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Clear
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Clear
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Clear
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Clear
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Clear

In [40]:
# when Wind Speed is exactly 4km/hr
data[data['Wind Speed_km/h'] == 4]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Clear
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Clear
96,1/5/2012 0:00,-8.8,-11.7,79,4,9.7,100.32,Clear
101,1/5/2012 5:00,-7.0,-9.5,82,4,4.0,100.19,Clear
146,1/7/2012 2:00,-8.1,-11.1,79,4,19.3,100.15,Clear
...,...,...,...,...,...,...,...,...
8768,12/31/2012 8:00,-8.6,-10.3,87,4,3.2,101.14,Clear
8769,12/31/2012 9:00,-8.1,-9.6,89,4,2.4,101.09,Clear
8770,12/31/2012 10:00,-7.4,-8.9,89,4,6.4,101.05,Clear
8772,12/31/2012 12:00,-5.8,-7.5,88,4,12.9,100.78,Clear
8773,12/31/2012 13:00,-4.6,-6.6,86,4,12.9,100.63,Clear

In [41]:
#null values in data 
data.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [42]:
#what is the mean of visibility 
data.Visibility_km.mean()

27.66444672131151

In [43]:
#what is the standard deviation of pressure 
data.Press_kPa.std()

0.8440047459486474

In [45]:
#what is the variance of the relative humidity 
data['Rel Hum_%'].var()

286.2485501984998

In [52]:
#all instances when snow was recorded 
data[data['Weather'] == 'Snow']

Empty DataFrame
Columns: [Date/Time, Temp_C, Dew Point Temp_C, Rel Hum_%, Wind Speed_km/h, Visibility_km, Press_kPa, Weather]
Index: []

In [54]:
data[data['Weather'].str.contains('Snow')]

Empty DataFrame
Columns: [Date/Time, Temp_C, Dew Point Temp_C, Rel Hum_%, Wind Speed_km/h, Visibility_km, Press_kPa, Weather]
Index: []

In [56]:
#when wind speed is above 24 and visibility is 25
data [(data['Wind Speed_km/h'] > 24) & (data['Visibility_km'] == 25)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
23,1/1/2012 23:00,5.3,2.0,79,30,25.0,99.31,Clear
24,1/2/2012 0:00,5.2,1.5,77,35,25.0,99.26,Clear
25,1/2/2012 1:00,4.6,0.0,72,39,25.0,99.26,Clear
26,1/2/2012 2:00,3.9,-0.9,71,32,25.0,99.26,Clear
27,1/2/2012 3:00,3.7,-1.5,69,33,25.0,99.30,Clear
...,...,...,...,...,...,...,...,...
8705,12/28/2012 17:00,-8.6,-12.0,76,26,25.0,101.34,Clear
8753,12/30/2012 17:00,-12.1,-15.8,74,28,25.0,101.26,Clear
8755,12/30/2012 19:00,-13.4,-16.5,77,26,25.0,101.47,Clear
8759,12/30/2012 23:00,-12.1,-15.1,78,28,25.0,101.52,Clear
8760,12/31/2012 0:00,-11.1,-14.4,77,26,25.0,101.51,Clear

In [57]:
#mean value of each column against the weather 
data.groupby('Weather').mean()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
Weather,,,,,,
Clear,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623

In [58]:
#min and max value of each column against weather 
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Clear
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Clear

In [60]:
data.groupby('Weather').min()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
Weather,,,,,,,
Clear,1/1/2012 0:00,-23.3,-28.5,18,0,0.2,97.52

In [68]:
data.groupby('Weather').max()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
Weather,,,,,,,
Clear,9/9/2012 9:00,33.0,24.4,100,83,48.3,103.65

In [66]:
#records where weather is fog 
data[data.Weather == 'Fog']

Empty DataFrame
Columns: [Date/Time, Temp_C, Dew Point Temp_C, Rel Hum_%, Wind Speed_km/h, Visibility_km, Press_kPa, Weather]
Index: []

In [69]:
data[(data["Weather"] == 'Clear') | (data["Visibility_km"] > 40)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Clear
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Clear
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,Clear
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,Clear
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Clear
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Clear
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Clear
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Clear
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Clear
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Clear

In [70]:
# weather is clear and relative humidity is greater than  50 or visibility is above 40 

data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Clear
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Clear
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,Clear
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,Clear
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Clear

In [76]:
data[(data['Weather'] == 'Clear') &(data['Rel Hum_%'] >50)|(data['Visibility_km'] > 40)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Clear
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Clear
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,Clear
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,Clear
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Clear
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Clear
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Clear
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Clear
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Clear
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Clear